html {
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  max-width:45em;
  margin:0 auto;
  padding:5px;
  background-color:#fff;
  color:#000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2em;
}

h1,h2,h3 {
	font-weight:normal;
  font-style:normal;
  line-height: 1em;
}

h1{
	font-size: 2em
}

h2,h3 {
	margin-top:2em
}

h3 {
	font-size:1.5em
}

div#example {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 1px;;
  background-color: #cdd;
}

form input{
  margin-left: 5px;
}

input {
  margin-left: 5px;
}

.home a:link {
  text-decoration: none;
  color: black;
}

.home a:visited {
  text-decoration: none;
  color: black;
}

.home a:hover {
  text-decoration: underline;
  color: black;
}

.home a:active {
  text-decoration: none;
  color: #000;
}

.book-review img {
  float: right;
  margin-left: 10px;
  border: 1px solid #ccc;
  width:40%;
  max-width: 100%;
}

.book-review .label {
  font-weight: bold;
  padding-right: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

code {
  color: crimson;
  background-color: #f1f1f1;
}

pre {
  font-size: 95%;
}

table#articles, table#reviews {
  border-collapse: collapse;
}

table#articles td, table#reviews td {
  padding-top: 10px;
}

.searchInput {
  background-image: url('/assets/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 0; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

@media screen and (max-width: 440px){
	h1{
		font-size:2em
	}
}

@media screen and (min-width: 440px){
	h1{
		font-size:3em
	}
}