html {
  font-family: Tahoma, Geneva, sans-serif;
}
body {
  max-width:45em;
  margin:0 auto;
  padding:5px;
  background-color:#fff;
  color:#000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2em;
}

h1,h2,h3 {
	font-weight:normal;
  font-style:normal;
  line-height: 1em;
}

h1{
	font-size: 2em
}

h2,h3 {
	margin-top:2em
}

h3 {
	font-size:1.5em
}

.home a:link {
  text-decoration: none;
  color: black;
}

.home a:visited {
  text-decoration: none;
  color: black;
}

.home a:hover {
  text-decoration: underline;
  color: black;
}

.home a:active {
  text-decoration: none;
  color: #000;
}

.book-review img {
  float: right;
  margin-left: 15px;
  border: 1px solid #ccc;
}

.book-review .label {
  font-weight: bold;
  padding-right: 5px;
}

.book-review blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

@media screen and (max-width: 440px){
	h1{
		font-size:2em
	}
}

@media screen and (min-width: 440px){
	h1{
		font-size:3em
	}
}